<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

    <div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a th:href="@{/}" class="navbar-brand">TechJobs</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/search}">Search</a></li>
                    <li><a th:href="@{/list}">List</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div th:fragment="results">

        <h1 th:if="${jobs}" th:text="'Result(s) ' + ${jobs.size()} + ' Jobs'"></h1>

            <div th:if="${jobs} and ${jobs.size()}">

            <table>
                <span th:each="item: ${jobs}" th:class="job-listing">
               <!-- <td><a th:href="@{/list/jobs(column=${column},value=${item})}" th:text="${item}"></a></td> -->
                <tr th:each="i: ${item}"  th:class="job-listing">
                    <td th:text="${i.key}"></td>
                    <td th:text="${i.value}"> </td>

                </tr>
                </span>
            </table>
            </div>
    </div>
</body>
</html>